@import "../../../variables";

.select {
  display: flex;
  border: 1px solid rgb(207, 217, 222);
  border-radius: 4px;
  height: 60px;
  min-width: 120px;
  position: relative;
  align-items: flex-end;
  cursor: pointer;

  .placeholder {
    font-size: small;
    top: 8px;
    position: absolute;
    left: 8px;
    color: rgb(83, 100, 113);
    user-select: none;
    z-index: -1;
  }

  select {
    appearance: none;
    width: 100%;
    border: 0;
    outline: 0;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: flex-end;
    background-color: transparent;
    padding: 6px;
    font-size: 17px;
  }

  .arrow {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(15, 20, 25);
    user-select: none;
  }

  &:focus-within {
    border: 1px solid $blue;
    box-shadow: $blue 0 0 0 1px;

    .arrow,
    .placeholder {
      color: $blue;
    }
  }
}
