.registry {
  padding: 16px;

  .title {
    font-weight: 700;
    font-size: 23px;
    color: rgb(15, 20, 25);
    line-height: 28px;
    margin: 16px 0;
  }

  .birthday {
    display: flex;

    .select {

      &:not(:last-child) {
        margin-right: 12px;
      }

      &:first-child {
        flex: 2;
      }

      flex: 1;
    }
  }
}
